@import url('https://fonts.googleapis.com/css2?family=Abel&family=Gruppo&family=Merriweather&display=swap');

body {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-top: 0px;
    color: rgb(255, 255, 255) ;
    background-color: #000000;
    text-align: center;
}

#center {
  text-align: center;
}

.pc {
  height: 200px;
  padding: 20px; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abel', sans-serif;
  font-family: 'Gruppo', cursive;
  font-family: 'Merriweather', serif;
  text-align: center;
  padding: 20px;
}

p {
  font-family: monospace;
  text-align: center;
  padding: 20px; 
}

/* Add a black background color to the top navigation */
.navbar {
  background-color: #0d5104;
  overflow: hidden;
  margin-left: -7.85px;
  font-family: 'Abel', sans-serif;
  font-family: 'Gruppo', cursive;
  font-family: 'Merriweather', serif;
}
  
/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #dddddd;
    text-align: center;
    padding: 24px 35px;
    text-decoration: none;
    font-size: 22px;
}
  
/* Change the color of links on hover */
  .navbar a:hover {
    background-color: #149903;
    color: rgb(255, 255, 255);
}
  
/* Add a color to the active/current link */
  .navbar a.active {
    background-color: #ffcc00;
    color: #000000;
}
  
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}