@import url('https://fonts.googleapis.com/css2?family=Abel&family=Gruppo&family=Merriweather&display=swap');
@import url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1066%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1067)'%3e%3c/rect%3e%3cpath d='M1440 0L887.6 0L1440 195.75z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M887.6 0L1440 195.75L1440 199.81L652.58 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M652.58 0L1440 199.81L1440 238.06L256.74000000000007 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M256.74 0L1440 238.06L1440 410.44L179.65 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L396.4 560L0 483.72z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 483.72L396.4 560L770.66 560L0 394.40000000000003z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 394.4L770.66 560L1009.97 560L0 291.29999999999995z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 291.3L1009.97 560L1304.55 560L0 125.53z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1066'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='-39.29%25' x2='15.28%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1067'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 69%2c 154%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");


/* clean one = 'Abel', sans-serif
   old timey = 'Merriweather', serif 
   goofey futuristic = 'Gruppo', cursive */


body {
  font-size: large;
  font-weight: bolder;
  margin-top: 0px;
  color: #ffffff;
  background-color: #686A69;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23585a59' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

hr {
  border: 2px solid #ffcc00;
  border-radius: 200px;
}

* {
  box-sizing: inherit;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  height: 12%;
  font-family: 'Merriweather', serif;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.column > img {
  height: 5%;
 }

#projectshead {
  text-align: center;
  text-decoration: underline;
}

 #h22 {
  color: black;
 }

.row {
  padding-top: 40px;
  text-align: center;
 }

.column > h2 {
  text-decoration: underline;
}

.column:after {
  content: "";
  display: table;
  clear: both;
}

.medias {
  text-align: center;
  text-decoration-line: none;
  font-size: 60px;
}

.medias a {
  text-decoration-line: none;
}

#yt {
  color:red;
}

#git {
  color: black
}

#email {
  color: white
}

.center {
  text-align: center;
}

label {
  font-family: 'Merriweather', serif;
  font-size: 16px
}

.form {
  text-align: center;
  margin: 35px;
}

#techskillstitle {
  margin-left: 17%;
  font-family: 'Merriweather', serif;
  font-size: 22px;
}

#techSkillsLogo {
  text-align: center;
  display: inline-block;
}

#techSkillsLogo2 {
  text-align: center;
  display: inline-block;
}

#techSkillsLogo3 {
  text-align: center;
  display: inline-block;
}

#techSkillsLogo4 {
  text-align: center;
  display: inline-block;
}

h1 {
  font-family: 'Merriweather', serif;
  padding-top: 20px;
  font-size: 45px;
}

p {
  font-family: 'Abel', sans-serif;
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

.melol {
  height: 200px;
}

input, textarea {
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  padding: 4px 7px;
  font-family: 'Abel', sans-serif;
}

input[type=submit] {
  background-color:#ffffff;
}

input:focus, textarea:focus {
  background-color: aliceblue;
}

input[type=submit]:hover{
  background-color: #ffcc00;
}

/* Add a black background color to the top navigation */
.navbar {
  background-color: #000000;
  overflow: hidden;
  margin-left: -7px;
  margin-right: -7.8px;
  position: sticky;
  top: 0;
  font-family: 'Abel', sans-serif;
}
  
/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #dddddd;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
  .navbar a:hover {
    background-color: #000000;
    color: #ffcc00;
    text-decoration: underline;

}
  
/* Add a color to the active/current link */
  .navbar a.active {
    background-color: #ffcc00;
    color: #000000;
}

@media screen and (max-width: 400px) {
    
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
    .navbar a {
      float: none;
      display: block;
      font-size: 20px;
    }

    #getmoneyreal {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  /* Create two equal columns that floats next to each other */
    .column {
      text-align: center;
      width: 100%;
      height: 250px; 
      font-family: 'Merriweather', serif;
      text-decoration: underline;
    }

    .column > p {
      text-align: center;
      font-size: 24px;
    }

    #techSkillsLogo {
      display: inline-block;
      height: 30%;
    }
    
    #techSkillsLogo2 {
      display: inline-block;
      height: 30%;
    }
    
    #techSkillsLogo3 {
      display: inline-block;
      height: 30%;
    }
    
    #techSkillsLogo4 {
      display: inline-block;
      height: 30%;
    }

    .column > img {
      height: 20%;
    }

}

@media screen 
and (min-width: 401px) and (max-width: 600px) {
  
  .column {
    float: left;
    text-align: center;
    width: 100%;
    padding: 10px;
    height: 300px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
  }

  .row {
    text-align: center;
    height: 20px;
   }

  .column > img {
    height: 35%;
   }

   .column > p {
    margin-top: -20px;
    font-size: 19px;
   }

   .column > img {
    height: 38%;
   }

   #techSkillsLogo {
    padding-top: ;
    margin-right: 20px;
    margin-left: 0px;
  }
  
  #techSkillsLogo2 {
    margin-right: -15px;
    margin-left: 5px;
  }
  
  #techSkillsLogo3 {
    margin-right: -20px;
    margin-left: 5px;
  }
  
  #techSkillsLogo4 {
    margin-right: 15px;
    margin-left: -5px;
  }

}

@media screen  and (min-width: 601px) {

  .column > img {
    height: 40%;
    padding-top: 20px
   }

   .column > p {

    margin-top: 10px;
    font-size: 35px;
   }

   .column > h2 {
    font-size: 47px;
   }

   iframe {
    text-align: center;
  }

  .column {
    text-align: center;
    height: 2500%;
    height: 400px;

  }
   .row {
    text-align: center;
    height: 20px;
   }

  #techSkillsLogo {
    display: inline-block;
    margin-left: 0%;
    margin-right: 0%;
  }
  
  #techSkillsLogo2 {
    display: inline-block;
    margin-left: 40px;
    margin-right: 10px;
  }
  
  #techSkillsLogo3 {
    display: inline-block;
    margin-left: -10px;
    margin-right: -20px;
  }
  
  #techSkillsLogo4 {
    display: inline;
  }
} 